@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pliant:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    --main-color: #034E79;

    --text-color: #000000;
    --font-family: "Pliant", sans-serif;
}

body, html {
    margin: 0;
    color: var(--text-color);
    font-family: var(--font-family);
}
p {
    all: unset;
}



.navbar {
    & {
        padding: 6px 7.5%;
        border-bottom: 2.5px solid #142B51;
        background-color: var(--main-color);

        background-image: url('assets/imgs/ocean.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        align-items: center;
    }

    .side {
        flex: 1;
    }
    .center {
        flex-grow: 0;
    }

    .links {
        & {
            display: flex;
            gap: 50px;
        }

        a {
            --font-size: 1.15rem;
            --font-color: #fff;
            --active-color: #1867fc;
            --hover-color: #1b86eb;

            & {
                font-weight: 400;
                font-size: var(--font-size);
                color: var(--font-color);
                text-shadow: 0 0 5px #000;

                border-bottom: 3px solid;
                border-color: #ffffff00;
                border-radius: 2px;
                padding: 10px 0;
                margin-top: 5px;

                transition: .35s;

                cursor: pointer;
            }
            &.active {
                border-color: var(--active-color);
            }
            &:not(.active):hover {
                border-color: var(--hover-color);
            }
        }
    }

    .btns {
        --btn-color: #0E56C1;
        --btn-color-bx: #0e50b3;
        --btn-color-hv: #2362c1;
        --font-color: #fff;
        & {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            color: var(--font-color);

            gap: 25px;
        }

        button {
            & {
                display: inline-flex;
                align-items: center;
                gap: 2.5px;

                color: var(--font-color);
                background-color: var(--btn-color);
                box-shadow: 0 0 3px var(--btn-color-bx);

                border: none;
                margin: 0;
                padding: 7.5px 13.5px;
                border-radius: 10px;

                cursor: pointer;

                transition: .35s;
            }
            &:hover {
                background-color: var(--btn-color-hv);
            }

            size {
                font-size: 1.4rem;
                font-weight: 500;
            }
        }

        i {
            font-size: 1.1rem;
            margin-left: 10px;

            cursor: pointer;
        }

        .account {
            width: 32px;
            border-radius: 128px;
            background-color: #fff;
            object-fit: cover;

            cursor: pointer;
        }
    }
}

.content {
    & {
        width: 100%;
    }

    .presentation {
        --text-color: #fff;

        & {
            position: relative;
        }

        img {
            width: 100%;
        }
        text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: var(--text-color);
            font-size: 1.75rem;
            text-shadow: 0 0 7px #000;
        }
    }

    .side-sep {
        margin-top: 30px;
        padding: 0 80px;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .title {
        --text-color: #034E79;

        & {
            display: block;
            color: var(--text-color);
            font-weight: 600;
            font-size: 1.3rem;
        }
    }

    a.link {
        --text-color: #3f6cc0;

        --font-size: 1rem;

        & {
            display: flex;
            align-items: center;
            gap: 5px;

            color: var(--text-color);
            font-weight: 600;
            font-size: var(--font-size);

            text-decoration: none;
            border-bottom: 1.5px solid #ffffff00;
        }
        &:hover {
            border-bottom: 1.5px solid var(--text-color)
        }
        i {
            font-size: calc(var(--font-size) - 0.3rem);
        }
    }

    .boats {
        & {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            justify-items: center;
            gap: 30px;

            margin-top: 20px;
            padding: 0 80px;
        }
        .card {
            & {
                display: flex;
                flex-direction: column;

                width: 350px;
                height: 322.5px;

                border-radius: 10px;
                box-shadow: 0 0 3px #9c9c9c;
                overflow: hidden;

                transition: .25s;
            }
            &:hover {
                box-shadow: 0 0 10px #9c9c9c;
            }

            img {
                width: 100%;
                height: 195px;
                object-fit: cover;
                object-position: bottom right;
            }
            .infos {
                & {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    row-gap: 2.5px;
                }

                .name {
                    --font-size: 1.25rem;

                    font-size: var(--font-size);
                    font-weight: 500;
                }
                .location {
                    --text-color: #a1a1a1;
                    --font-size: 0.85rem;

                    & {
                        font-size: var(--font-size);
                        color: var(--text-color);

                        display: flex;
                        gap: 5px;
                    }
                }
                button {
                    --bg-color: #59A8DF;
                    --bg-color-hover: #4f8ebb;
                    --text-color: #fff;

                    & {
                        margin-top: 7.5px;
                        margin-left: auto;
                        margin-right: 0;

                        width: max-content;
                        padding: 10px 15px;
                        border-radius: 7.5px;
                        border: 0;

                        background-color: var(--bg-color);
                        color: var(--text-color);

                        font-weight: 600;
                        cursor: pointer;
                        transition: .25s;
                    }
                    &:hover {
                        background-color: var(--bg-color-hover);
                    }
                }
            }
        }
    }
}

.footer {
    --bg-color: #052A56;

    & {
        background-color: var(--bg-color);
        
        padding: 15px 150px;
        margin-top: 50px;
    }

    hr {
        background-color: #E3E3E3;
        border: 0;
        margin: 0;
        width: 100%;
        height: 1.3px;
    }

    .infopoint {
        --font-size-tit: 1.2rem;
        --font-size-el: 0.45rem;
        --text-color: #ffffff;

        padding: 30px 15px;
        & {
            color: var(--text-color);

            display: flex;
            justify-content: space-between;
        }
        .info {
            & {
                display: flex;
                flex-direction: column;
                row-gap: 7.5px;
            }

            iname {
                font-size: var(--font-size-tit);
                
                margin-bottom: 10px;
            }
            a {
                & {
                    font-size: var(--font-size-el);

                    all: unset;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .socials {
        padding: 30px 15px;
        & {
            display: flex;
        }
        i {
            color: #ffffff;
            font-size: 2.2em;

            cursor: pointer;
        }
    }

    .privacy-section {
        --font-size: 0.5rem;
        --text-color: #ffffff;

        padding: 20px 15px;
        & {
            color: var(--text-color);

            display: flex;
            align-items: center;

            gap: 15px;
        }

        a {
            & {
                font-size: var(--font-size);
                letter-spacing: 1px;

                all: unset;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.logo {
    height: 55px;

    object-position: left;
    object-fit: contain;
}