body, html {
    background-color: #dae4f6;

    background-image: url('../images/ui/sea.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    & {
        display: flex;
        justify-content: center;

        margin-top: 100px;
    }

    .menu {
        & {
            display: grid;
            grid-template-rows: max-content minmax(0, 2.5fr);
            grid-template-columns: minmax(0, 2.5fr);
            
            gap: 20px;
            margin: 0 100px;
        }
        @media (max-width: 1010px) { 
            & {
                margin: 0 50px;
            }
        }

        .title {
            color: #fff;
            text-shadow: 0px 0px 5px #000;
            font-weight: 500;
            font-size: 1.3rem;
        }

        & > div {
            --box-shadow-color: #fff;
            --box-shadow-size: 10px;

            & {
                display: flex;
                flex-direction: column;

                gap: 7.5px;

                width: max-content;
                max-width: 100%;
            }

            .account {
                --inputs-width: 100px;

                & {
                    min-width: 60px;

                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    row-gap: 5px;

                    background-color: #fff;
                    padding: 20px 70px;
                    border-radius: 7.5px;

                    box-shadow: 0px 0px var(--box-shadow-size) var(--box-shadow-color);
                }
                .ico {
                    & {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                    }

                    .userico {
                        width: 50px;
                        border-radius: 150px;
                        border: 1.5px solid #EBEBEB;
                    }

                    .colorpicker {
                        & {
                            cursor: pointer;
                            
                            padding: 2.5px;
                            border: 1.5px solid #00000014;
                            border-radius: 50%;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        input[type="color"] {
                            opacity: 0;
                            position: fixed;

                            margin-top: 10px;
                        }
                        img {
                            width: 24px;
                        }
                    }

                }
                .inputs {
                    & {
                        display: grid;
                        grid-template-columns: 0.7fr 1fr;

                        align-items: center;
                        justify-items: start;

                        column-gap: 5px;
                        row-gap: 5px;
                    }
                    label {
                        font-size: 0.95rem;
                    }
                    
                    input {
                        box-sizing: border-box;

                        color: #000000;
                        font-size: 0.9rem;
                        
                        border: 1.5px solid #EBEBEB;
                        border-radius: 5px;

                        padding: 5px;
                        width: var(--inputs-width);
                    }
                }
                button[type='submit'] {
                    & {
                        color: #fff;
                        background-color: #2362C1;
                        
                        margin-top: 2.5px;

                        padding: 10px 15px;
                        border: none;
                        border-radius: 7.5px;

                        cursor: pointer;

                        transition: background-color .25s;
                    }
                    &:hover {
                        background-color: #3576d8;
                    }
                }
            }
            
            .boats {
                & {
                    display: flex;
                    align-items: center;

                    column-gap: 10px;

                    padding: var(--box-shadow-size);
                    margin: calc(-1 * var(--box-shadow-size));

                    overflow-x: auto;
                }
                &::-webkit-scrollbar {
                    height: 5px;
                }

                &::-webkit-scrollbar-track {
                    background: #3184be52; 
                    cursor: pointer;
                }
                &::-webkit-scrollbar-thumb {
                    background: #ffffff99;
                    border-radius: 10px;
                    cursor: pointer;
                }

                .card {
                    & {
                        display: flex;
                        flex-direction: column;
                        flex-shrink: 0;

                        width: 250px;

                        border-radius: 10px;
                        background-color: #ffffff;
                        overflow: hidden;

                        box-shadow: 0px 0px var(--box-shadow-size) var(--box-shadow-color);

                        transition: box-shadow .5s;
                    }
                    &:hover {
                        box-shadow: 0px 0px var(--box-shadow-size) #6d6d6d;
                    }
                    @media (max-width: 1010px) { 
                        & {
                            width: 200px;
                        }
                    }

                    img {
                        & {
                            width: 100%;
                            height: 150px;
                            object-fit: cover;
                            object-position: bottom center;
                        }   

                        @media (max-width: 1010px) { 
                            & {
                                height: 100px;
                            }
                        }
                    }
                    .infos {
                        & {
                            display: flex;
                            flex-direction: column;
                            padding: 10px;
                            row-gap: 2.5px;
                        }

                        .name {
                            --font-size: 1.25rem;

                            font-size: var(--font-size);
                            font-weight: 450;
                        }
                        .location {
                            --text-color: #a1a1a1;
                            --font-size: 0.85rem;

                            & {
                                font-size: var(--font-size);
                                color: var(--text-color);

                                display: flex;
                                gap: 5px;
                            }
                        }
                        .buttons {
                            & {
                                display: flex;
                                justify-content: flex-end;

                                margin-top: 5px;
                                gap: 5px;
                            }
                            & > button {
                                & {
                                    border: 0;
                                    padding: 5px;
                                    border-radius: 7.5px;

                                    height: 100%;
                                    aspect-ratio: 1 / 1;
                                    
                                    transition: .25s;
                                    
                                    cursor: pointer;
                                }
                                &.delete {
                                    & {
                                        background-color: #cd3232;
                                    }
                                    &:hover {
                                        background-color: #f14545;
                                    }
                                }
                                &.edit {
                                    & {
                                        background-color: #ffc23f;
                                    }
                                    &:hover {
                                        background-color: #ffcc5d;
                                    }
                                }

                                & > img {
                                    height: 19px;
                                    aspect-ratio: 1 / 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}