body, html {
    background-color: #05172F;

    background-image: url('../images/ui/bglogin.jpg');
    /*https://www.magnific.com/it/foto-gratuito/scatto-ipnotizzante-delle-onde-oceaniche-cristalline_17530073.htm">Immagine di wirestock su Magnific*/
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    & {
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
}

.content {
    & {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login {
        --components-width: 275px;

        & { 
            background: #11213af2;
            background: radial-gradient(circle at top left, #14233cd9, #0f203cf2);
            backdrop-filter: blur(2px);
            box-shadow: 0 20px 40px #18181866;

            border-radius: 10px;
            padding: 25px;

            display: flex;
            align-items: center;
            flex-direction: column;
            row-gap: 12.5px;
        }

        .title {
            & {
                display: flex;
                align-items: center;
            }
            .logo {
                height: 38px;
            }
            p {
                --text-color: #fff;

                & {
                    color: var(--text-color);
                    font-size: 1.2rem;
                }
            }
        }

        form {
            display: flex;
            align-items: center;
            flex-direction: column;
            row-gap: 12.5px;
            
            input {
                & {
                    box-sizing: border-box;

                    background-color: #0d1d34;
                    color: #fff;
                    font-size: 0.9rem;
                    
                    border: 1.5px solid #39516e;
                    border-radius: 5px;

                    padding: 12.5px;
                    width: var(--components-width);
                }
                &::placeholder {
                    color: #8a919f;
                }
            }
            button {
                & {
                    background-color: #072f62;
                    color: #fff;

                    border: 0;
                    border-radius: 5px;

                    padding: 12.5px;
                    width: var(--components-width);

                    transition: .25s;
                }
                &:hover {
                    background-color: #0c3e7d;
                }
            }
        }

        .error {
            color: #a91c1c;
            font-size: 0.875rem;
        }
        .action {
            & {
                color: #8c929e;
                font-size: 0.825rem;
            }
            a {
                color: #fff;
            }
        }
        .forgot {
            color: #8c929e;
            font-size: 0.825rem;
        }

    }
}